.article-navigation {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 1%;
}

.article-navigation button {
  border: none;
  font-size: 0.9em;
  text-decoration: none;
  background: none;
  color: black;
  text-align: center;
}

.article-navigation button:hover {
  color: #c4404f;
}

.page-nav {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: 'prev-page page-num next-page';
}

.prev-page {
  grid-area: prev-page;
}

.page-num {
  grid-area: page-num;
  text-align: center;
}

.next-page {
  grid-area: next-page;
}

.sort {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.sort select {
  width: 100%;
  border: none;
  font-size: 1em;
  padding-right: 1%;
}
