@media only screen and (min-width: 768px) {
  .articles {
    display: grid;
    grid-template-columns: 10% 60% 20% 10%;
    grid-template-areas: 'left-panel article-list sidebar right-panel';
  }

  .sidebar {
    grid-area: sidebar;
  }

  .article-list {
    grid-area: article-list;
  }
}
