.comment-card {
  width: 95%;
  margin: 1%;
  padding: 0%;
  display: grid;
  grid-template-columns: 5% 95%;
}

.comment-details {
  padding: 0.5%;
}

@media only screen and (min-width: 768px) {
  .comment-card {
    grid-template-columns: 3% 97%;
  }
}
