.header {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #202829;
  color: white;
  padding: 1%;
}

.header a {
  color: white;
  text-decoration: none;
}

.header button {
  width: 45%;
  margin: 0% 1%;
}

.header mark {
  color: #c4404f;
  background: none;
}

.header select {
  width: 95%;
  background-color: #202829;
  color: white;
  border: none;
  font-size: 1em;
  padding-right: 1%;
}

.black-button {
  background-color: #202829;
  color: white;
  border: 1px #c4404f solid;
  border-radius: 3px;
  width: 20%;
  height: 100%;
  font-size: 1em;
}

.red-button {
  background-color: #c4404f;
  color: white;
  border: 1px white solid;
  border-radius: 3px;
  width: 20%;
  height: 100%;
  font-size: 1em;
}

.account-buttons {
  grid-column: 1 / span 2;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0.2%;
    grid-template-columns: 50% 20% 30%;
  }
  select {
    width: 15vw;
  }
  .account-buttons {
    grid-column: span 1;
  }
}
