.header {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #202829;
  color: white;
  padding: 1%;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0.2%;
  }
  select {
    width: 10vw;
    margin-left: 70%;
  }
}
