* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f7f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 0.9em;
}

a {
  color: black;
  text-decoration: none;
}

.content-card {
  width: 95%;
  margin: 1% auto;
  padding: 0.5%;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.vote-panel {
  width: 95%;
  height: 100%;
  background-color: #ececec;
  color: #202829;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 33% 33% 33%;
}

@media only screen and (min-width: 768px) {
  .content-card {
    margin: 0.5% 0.5%;
  }
}
